{{define "add"}}{{if .IPv6}}:if ([:typeof [:find $V ":"]] = "num") do={ :if ([:len [/ipv6 firewall address-list find list=$List address=$V]] = 0) do={ :do { /ipv6 firewall address-list add list=$List address=$V timeout=$Timeout comment="apb" ; :set Added ($Added + 1) } on-error={} } } else={ :if ([:len [/ip firewall address-list find list=$List address=$V]] = 0) do={ :do { /ip firewall address-list add list=$List address=$V timeout=$Timeout comment="apb" ; :set Added ($Added + 1) } on-error={} } }{{else}}:if ([:len [/ip firewall address-list find list=$List address=$V]] = 0) do={ :do { /ip firewall address-list add list=$List address=$V timeout=$Timeout comment="apb" ; :set Added ($Added + 1) } on-error={} }{{end}}{{end}}
{{define "del"}}{{if .IPv6}}:if ([:typeof [:find $V ":"]] = "num") do={ :do { /ipv6 firewall address-list remove [find list=$List address=$V] ; :set Removed ($Removed + 1) } on-error={} } else={ :do { /ip firewall address-list remove [find list=$List address=$V] ; :set Removed ($Removed + 1) } on-error={} }{{else}}:do { /ip firewall address-list remove [find list=$List address=$V] ; :set Removed ($Removed + 1) } on-error={}{{end}}{{end}}
{{define "bulkadd"}}{{if .IPv6}}:if ([:typeof [:find $V ":"]] = "num") do={ :do { /ipv6 firewall address-list add list=$List address=$V timeout=$Timeout comment="apb" ; :set Total ($Total + 1) } on-error={} } else={ :do { /ip firewall address-list add list=$List address=$V timeout=$Timeout comment="apb" ; :set Total ($Total + 1) } on-error={} }{{else}}:do { /ip firewall address-list add list=$List address=$V timeout=$Timeout comment="apb" ; :set Total ($Total + 1) } on-error={}{{end}}{{end}}
{{define "flush"}}{{if .IPv6}}/ip firewall address-list remove [find list=$List] ; /ipv6 firewall address-list remove [find list=$List]{{else}}/ip firewall address-list remove [find list=$List]{{end}}{{end}}
{{define "fetchopts"}}mode={{.Mode}}{{if eq .Mode "https"}} check-certificate={{.VerifyCert}}{{end}}{{end}}
