{{define "add"}}{{if .IPv6}}:if ([:typeof [:find $V ":"]] = "num") do={ :if ([:len [/ipv6 firewall address-list find list=$List address=$V]] = 0) do={ :do { /ipv6 firewall address-list add list=$List address=$V timeout={{.BlockTimeout}} comment="apb" ; :set Added ($Added + 1) } on-error={} } } else={ :if ([:len [/ip firewall address-list find list=$List address=$V]] = 0) do={ :do { /ip firewall address-list add list=$List address=$V timeout={{.BlockTimeout}} comment="apb" ; :set Added ($Added + 1) } on-error={} } }{{else}}:if ([:len [/ip firewall address-list find list=$List address=$V]] = 0) do={ :do { /ip firewall address-list add list=$List address=$V timeout={{.BlockTimeout}} comment="apb" ; :set Added ($Added + 1) } on-error={} }{{end}}{{end}}
{{define "del"}}{{if .IPv6}}:if ([:typeof [:find $V ":"]] = "num") do={ :do { /ipv6 firewall address-list remove [find list=$List address=$V] ; :set Removed ($Removed + 1) } on-error={} } else={ :do { /ip firewall address-list remove [find list=$List address=$V] ; :set Removed ($Removed + 1) } on-error={} }{{else}}:do { /ip firewall address-list remove [find list=$List address=$V] ; :set Removed ($Removed + 1) } on-error={}{{end}}{{end}}
{{define "bulkadd"}}{{if .IPv6}}:if ([:typeof [:find $V ":"]] = "num") do={ :do { /ipv6 firewall address-list add list=$List address=$V timeout={{.BlockTimeout}} comment="apb" ; :set Total ($Total + 1) } on-error={} } else={ :do { /ip firewall address-list add list=$List address=$V timeout={{.BlockTimeout}} comment="apb" ; :set Total ($Total + 1) } on-error={} }{{else}}:do { /ip firewall address-list add list=$List address=$V timeout={{.BlockTimeout}} comment="apb" ; :set Total ($Total + 1) } on-error={}{{end}}{{end}}
{{define "flush"}}{{if .IPv6}}/ip firewall address-list remove [find list=$List] ; /ipv6 firewall address-list remove [find list=$List]{{else}}/ip firewall address-list remove [find list=$List]{{end}}{{end}}
{{define "fetchopts"}}mode={{.Mode}}{{if eq .Mode "https"}} check-certificate={{.VerifyCert}}{{end}}{{end}}
{{define "loadcursor"}}:if ([:typeof $apbCursor] != "num") do={ :local Saved [/ip firewall address-list find list=$State] ; :if ([:len $Saved] > 0) do={ :do { :set apbCursor [:tonum [/ip firewall address-list get [:pick $Saved 0] comment]] ; :log debug ("APB: recovered cursor " . $apbCursor . " from " . $State) } on-error={} } }{{end}}
{{define "savecursor"}}:local StIds [/ip firewall address-list find list=$State] ; :if ([:len $StIds] > 0) do={ :do { /ip firewall address-list remove $StIds } on-error={ :log warning "APB: could not clear the previous cursor marker" } } ; :do { /ip firewall address-list add list=$State address={{.StateAddress}} comment=("" . $apbCursor) timeout={{.BlockTimeout}} } on-error={ :log warning ("APB: could not record cursor " . $apbCursor . " in " . $State . " - the router refused the address-list write") }{{end}}
